<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833303576943-hdeccfg3cqutjg1j536uv12v820c4u74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833303576943-hdeccfg3cqutjg1j536uv12v820c4u74</string>
	<key>API_KEY</key>
	<string>AIzaSyBoopygk-QSSkIH1lLi_7d9prdYc0EPW-w</string>
	<key>GCM_SENDER_ID</key>
	<string>833303576943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signIn</string>
	<key>PROJECT_ID</key>
	<string>vision-onway-91fa3</string>
	<key>STORAGE_BUCKET</key>
	<string>vision-onway-91fa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833303576943:ios:3ec28470ea042b0415689a</string>
</dict>
</plist>